// 颜色定义规范
$color-background = #fff
$color-theme = #0F88EB
$color-text = #FEFDFF
$color-text-d = #8A8A8A
$color-text-l = #676767
$color-text-o = #F09900
$color-border-d = #ECECEC

// head高度
$height-head = 44px
$height-searchHeight = 58px

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
